body {
  font-family: "Merriweather", serif;
  margin: 0px;
  text-align: center;
  color: #40514e;
  font-size: 1.5rem;
}
div.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

div.middle-container {
  margin: 100px 0px;
}

div.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0 20px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}
p {
  font-size: 1rem;
}
a {
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
hr {
  border-color: #40514e;
  border-style: none;
  border-bottom-style: dotted;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}
.skill-row {
  width: 35%;
  margin: 100px auto 100px auto;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
}
.intro {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}
.pro {
  text-decoration: underline;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.javaImg {
  width: 80px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flaticonRight {
  width: 70px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.skill {
  width: 15%;
  float: right;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 110px;
}
.person {
  width: 10%;
  border-radius: 100%;
}
.trademark {
  padding-top: 20px 0;
  margin-top: 20px;
  font-size: 0.75rem;
  color: #eaf6f6;
}
.footer-link {
  font-weight: normal;
  font-size: 0.8rem;
  margin: 10px 25px;
}
.footer-link:hover {
  color: #eaf6f6;
}
.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #11999e;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  margin-top: 30px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.contact-me {
  margin: 0 auto;
  line-height: 2;
}
h3 {
  color: #11999e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
